.tag-icon > .d-icon {
	margin-right: 3px;
	margin-bottom: 0px;
}

a.discourse-tag:not(.list-vote-count) {
    height: 1.3em;
    line-height: 1.3em;
    padding: 0 4px 0 1em;
    position: relative;
    bottom:0;
    margin-right: .5em!important;
    background: var(--primary-low);
    text-decoration: none;
    -moz-border-radius-bottomright: .25em;
    -webkit-border-bottom-right-radius: .25em;
    border-bottom-right-radius: .25em;
    -moz-border-radius-topright: .25em;
    -webkit-border-top-right-radius: .25em;
    border-top-right-radius: .25em;
    -moz-border-radius-bottomleft: 1em;
    -webkit-border-bottom-left-radius: 1em;
    border-bottom-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;
    border-top-left-radius: 1em;
    -webkit-mask-image: radial-gradient(.2em at .6em 50% , transparent 100%, var(--secondary) 100%);
}
    
a.discourse-tag.minor-tag {
        background: none;
        border-width:0px ;
        border-style:dotted;
        border-width:1px;
        background:none;
    }
.discourse-tag.simple.major-tag{
        font-weight:bold;
    }
    
.discourse-tags .discourse-tag.simple:not(:last-child)::after,{
    content: "";
    margin:0;
    }
 
 
    //border-color:$primary-medium;
    //border-width:1px;
    //border-style:solid;
