<script type="text/discourse-plugin" version="0.8.29">
  let tagIconList = settings.tag_icon_list.split('|');
  const { iconHTML } = require("discourse-common/lib/icon-library");
  const getURL = require('discourse-common/lib/get-url').default;

  function iconTagRenderer(tag, params) {
    params = params || {};
    const visibleName = Handlebars.Utils.escapeExpression(tag);
    tag = visibleName.toLowerCase();
    const classes = ["discourse-tag"];
    const tagName = params.tagName || "a";
    let path;
    if (tagName === "a" && !params.noHref) {
      if (params.isPrivateMessage && Discourse.User.current()) {
        const username = params.tagsForUser
          ? params.tagsForUser
          : Discourse.User.current().username;
        path = `/u/${username}/messages/tags/${tag}`;
      } else {
        path = `/tag/${tag}`;
      }
    }
    const href = path ? ` href='${getURL(path)}' ` : "";

    if (Discourse.SiteSettings.tag_style || params.style) {
      classes.push(params.style || Discourse.SiteSettings.tag_style);
    }

  	/// Add custom tag icon from theme settings
  	let tagIconItem = tagIconList.find((str) => str.indexOf(tag) > -1);
  	let tagIconHTML = '';
  	if (tagIconItem) {
  		let tagIconSetting = tagIconItem.split(',');
  		if(tagIconSetting[0] == tag) { // Ensure exact match
            var tagStatus = tagIconSetting[1] ;
            var isMinor = (tagStatus === "minor") ;
            var isMajor = (tagStatus === "major") ;
            var tagIcon = tagIconSetting[2] ;
            if (isMajor) {
                var tagColor = tagIconSetting[3] ;
                var textColor = tagIconSetting[4] ;
            } else {
                var iconColor = tagIconSetting[3] ;
            }
            var iconColorHTML = iconColor ? `style="color: ${iconColor}"` : "";
            if (tagIcon) {
                tagIconHTML = `<span ${iconColorHTML} class="tag-icon">${iconHTML(tagIcon)}</span>`;
            }
  		}
  	}
    
    if (isMinor) {
        if (Discourse.User.current().admin === false) {
            return "" ;
        }
        classes.push("minor-tag") ;
        styleHTML = "";
    } else if (isMajor) {
        classes.push("major-tag") ;
        var iconColorHTML = `style="color: ${textColor}"`;
        styleHTML = `style="color: ${textColor}; background: ${tagColor};"`;
    } else {
        styleHTML = "";
    }
    
    
    let val =
      "<" +
      tagName +
      href +
      " data-tag-name=" + tag +
      " class='" + classes.join(" ") + "'" +
      styleHTML +
      ">" +
      tagIconHTML + // inject tag Icon in html
      visibleName +
      "</" +
      tagName +
      ">";

    if (params.count) {
      val += " <span class='discourse-tag-count'>x" + params.count + "</span>";
    }

    return val;
  }

  api.replaceTagRenderer(iconTagRenderer);
</script>
